<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Master Pendidikan</title>
</head>
<body>
<section layout:fragment="content">
    <h4>Tambah Data Produk</h4>
<form class="form-horizontal" th:action="@{/tabungan/submit}" th:object="${tabungan}"
      th:method="post" action="/tabungan/submit" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <label class="col-lg-3 control-label">Nomer Rekening</label>
        <div class="col-lg-6">
            <input type="text" id="nomorRekening" class="form-control" name="nomorRekening"
                   th:field="*{nomorRekening}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="nasabah">Nama Nasabah</label>
        <div class="col-lg-6">
            <select name="nasabah" id="nasabah" th:field="*{nasabah.id}" class="form-control">
                <option value="" th:each="nasabah : ${listNasabah}" th:value="${nasabah.id}"
                        th:label="${nasabah.namaLengkap}">Bandung
                </option>
            </select>
            <div th:if="${#fields.hasErrors('nasabah')}" th:errors="*{nasabah}" class="alert alert-danger">Age
                Error
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="jenisId">Nama Product</label>
        <div class="col-lg-6">
            <select name="jenisId" id="jenisId" th:field="*{kriteriaProduk.id}" class="form-control">
                <option value="" th:each="jenis : ${listProduk}" th:value="${jenis.id}"
                        th:label="${jenis.nama}">Bandung
                </option>
            </select>
            <div th:if="${#fields.hasErrors('kriteriaProduk')}" th:errors="*{kriteriaProduk}"
                 class="alert alert-danger">Age
                Error
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label">Setoran Awakl</label>
        <div class="col-lg-6">
            <input type="number" id="SetoranAwal" class="form-control" name="setoranAwal"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary">Kirim</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>
</form>
</section>
</body>
</html>